@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #27aae1;
  width: 100%;
  height: 100%;
}

.logo {
  position: fixed;
  top: 3rem;
  left: 5rem;
  cursor: pointer;
  width: 200px;
  z-index: 2;
}

#menu {
  position: fixed;
  top: 3rem;
  right: 5rem;
  cursor: pointer;
  width: 40px;
  z-index: 2;
}

#menuNav {
  display: none;
  position: fixed;
  top: 0;
  padding-top: 7rem;
  z-index: 3;
  height: 100%;
  width: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#132a7d), to(#2e313e));
  background: linear-gradient(to bottom, #132a7d, #2e313e);
}

#menuNav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px 10px 50px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

#menuNav a:hover {
  color: #27aae1;
}

#menuNav .menuCierre {
  top: 3rem;
  right: 11rem;
  position: fixed;
}

#menuNav .menuCierre img {
  width: 30px;
  cursor: pointer;
}

#menuNav.visible {
  right: 0;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#132a7d), to(#2e313e));
  background: linear-gradient(to bottom, #132a7d, #2e313e);
}

.mainIndex {
  background: #000;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  position: relative;
}

.mainIndex video {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

.showcase {
  display: inline-block;
  color: #fff;
  position: absolute;
  z-index: 1;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.text h2 {
  font-size: 9rem;
  font-weight: 800;
  line-height: 7rem;
  text-transform: uppercase;
}

.text h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1rem;
  text-transform: uppercase;
  margin-top: 4vh;
}

.text p {
  font-size: 1em;
  margin: 30px 0;
  font-weight: 400;
  max-width: 500px;
}

.text a {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
  background: #27aae1;
  border-radius: 100px;
  padding: 10px 50px;
  text-decoration: none;
  color: #111;
  font-weight: 600;
  text-transform: uppercase;
  width: 10rem;
}

.text a:hover {
  background: #fff;
}

.social {
  margin: 2rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social p {
  margin-right: 1em;
}

.social li {
  list-style: none;
  display: inline-block;
  padding: 0.3rem;
}

.social li img {
  width: 35px;
}

.social li img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#miFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  width: 100%;
  height: 20vh;
  top: 0rem;
  z-index: 1;
}

#miFooter p {
  margin-top: 2rem;
  text-align: center;
  color: #27aae1;
}

#miFooterContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  width: 100%;
  height: 20vh;
  top: 0;
  z-index: 1;
}

#miFooterContacto p {
  margin-top: 2rem;
  text-align: center;
  color: #27aae1;
}

.misRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.misRedes ul {
  line-height: 1rem;
}

.misRedes ul li {
  list-style: none;
}

.misRedes ul li a {
  display: inline-block;
  padding: 1rem 0.5rem 0rem 0.5rem;
}

.misRedes ul li a img {
  width: 35px;
}

.misRedes ul li a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.showcasePlayas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  line-height: 2rem;
}

.showcaseImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  z-index: -1;
}

.textPlayas {
  color: #fff;
  width: 50rem;
  margin-top: 7rem;
}

.textPlayas h2 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 12rem;
  text-transform: uppercase;
  padding: 2rem;
}

.textPlayas h2 p {
  font-size: 3em;
  margin: 300px 0;
  font-weight: 400;
  max-width: 500px;
}

#playas-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fila {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 7rem;
  padding: 0rem 0rem 2rem 0rem;
}

.fila1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 7rem;
}

.fila1 img {
  width: 23rem;
}

.playas-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playas-img img {
  padding-right: 0;
  width: 20rem;
  height: 100%;
}

.playas-img img a {
  font-weight: 300;
  padding: 2.5rem;
  width: 25rem;
  height: 27rem;
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  padding: 1rem;
}

.like img {
  width: 2rem;
}

.like img:hover {
  opacity: 0.7;
}

#playas-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #111;
  padding: 1rem 2rem;
}

#playas-text h2 {
  width: 100%;
}

#playas-text h2 p {
  width: 100%;
}

.btn-playas {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
  padding: 1rem;
}

.btn-playas a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-playas a:hover {
  opacity: 0.7;
  border: 1px solid #ccc;
}

.miFila {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  margin-top: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.miFila .likeBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  padding: 1rem;
}

.miFila .likeBlog img {
  width: 2rem;
  height: 2rem;
}

.miFila .likeBlog img:hover {
  opacity: 0.7;
}

.miImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 17rem;
  height: 17rem;
  padding: 0rem 2rem 2rem 2rem;
}

#miText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #111;
}

#miText h2 {
  width: 100%;
}

#miText h2 p {
  width: 100%;
}

.miBtn {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
  padding: 1rem;
}

.miBtn a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.miBtn a:hover {
  opacity: 0.7;
  border: 1px solid #ccc;
}

.shop-img {
  top: 0;
  width: 24rem;
  height: 25rem;
  padding: 0rem 2rem 2rem 0rem;
}

.misRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.misRedes li {
  list-style: none;
}

.misRedes li a {
  display: inline-block;
  padding: 1rem 0.5rem 0rem 0.5rem;
}

.misRedes li a img {
  width: 35px;
}

.misRedes li a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#miFooterShop {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  width: 100%;
  height: 22vh;
}

#miFooterShop p {
  margin-top: 2rem;
  text-align: center;
  color: #27aae1;
}

#footerForm {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  width: 100%;
  height: 17vh;
  z-index: 10;
}

#footerForm p {
  margin-top: 1rem;
  text-align: center;
  color: #27aae1;
}

@media (max-width: 375px) {
  .logo {
    left: 2rem;
    width: 9rem;
  }
  #menu {
    right: 4rem;
    width: 2rem;
  }
  #menuNav.visible {
    width: 16rem;
  }
  #menuNav.visible a {
    padding: 8px 0px 8px 42px;
    width: 5.2rem;
    font-size: 1.5rem;
  }
  #menuNav.visible .menuCierre {
    top: 3rem;
    left: 7rem;
    z-index: 100;
    position: fixed;
  }
  #menuNav.visible .menuCierre img {
    padding: 0rem 3rem;
    width: 2rem;
  }
  #menuNav.visible .menuCierre a {
    padding: 10px 0px 8px 14px;
  }
  .showcase {
    display: inline-block;
    margin-top: 10rem;
  }
  .showcase .text {
    display: block;
    text-align: center;
    padding: 1.5rem;
  }
  .showcase .text h2 {
    font-size: 4rem;
    line-height: 2.5rem;
  }
  .showcase .text h3 {
    font-size: 2.4rem;
  }
  .showcase .text p {
    font-size: 0.7rem;
    margin: 35px;
  }
  .showcase .text a {
    padding: 6px 27px;
  }
  .social {
    display: none;
    width: 100%;
  }
  .social p {
    margin-right: 0;
  }
  .textPlayas {
    display: inline-block;
    text-align: center;
  }
  .textPlayas h2 {
    font-size: 5rem;
    line-height: 4.5rem;
  }
  .textPlayas h3 {
    font-size: 2.4rem;
  }
  .textPlayas p {
    font-size: 0.7rem;
    margin: 35px;
  }
  .playas-img img {
    padding-right: 0;
    width: 100%;
    height: 100%;
  }
  .fila {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
  .like img {
    width: 1rem;
  }
  #miText {
    font-size: 0.5rem;
  }
  .miImg {
    width: 5rem;
    height: 5rem;
  }
  main {
    top: 0;
  }
  .fila1 {
    display: inline-block;
  }
  .fila1 img {
    width: 100%;
  }
  .like {
    width: 1rem;
  }
  #playas-text {
    display: block;
  }
  form {
    padding: 0rem 2rem 5rem 2rem;
  }
  img.shop-img {
    width: 100%;
    height: 25rem;
    padding: 0;
  }
}

@media (min-width: 768px) {
  #menuNav.visible .menuCierre img {
    right: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
  }
  .logo {
    width: 12rem;
  }
  .showcase .text h2 {
    font-size: 6rem;
    line-height: 3.5rem;
  }
}

.shop-img img {
  width: 41rem;
  height: 25rem;
  padding: 0rem 5rem 0rem 5rem;
  margin-left: 4rem;
}

.textPlayas h2 {
  font-size: 5rem;
  line-height: 4.5rem;
}
